@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root{
    --text-clr : #4f4f4f
}

p{
    color: #6c757d;
}

a{
    text-decoration: none;
    color: var(--text-clr);
}

h2{
    color: var(--text-clr);
    font-size: 1.5rem;
}
.product_name {
    font-size: 7vw;
}

.main_cart{
    background: #fff;
}

.card{
    border: none;
}

/* .product_img{
    min-width: 200px;
    max-height: 200px;
} */

.product_name {
    color: black;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}

.remove_wish p{
    font-size: 0.8rem;
    font-weight: 600;
}



.fa-heart:hover{
    color: red;

}
.fa-trash-alt:hover{
    color: red;

}
